body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.main_Apresentacao{
    height: 100vh;
    background: linear-gradient(120deg, #CD96CD, #7c4caf);;
    display: flex;
    align-items: center;
     flex-direction: column;
    padding-top: 100px;
    
}



.row{
    min-height: 100px;
    width: 500px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.row2{
    
    min-height: 100px;
    width: 500px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    
}

.selecionarConta {
    transition: 0.4s ease-in-out; 
    transition-duration: 0.4s;
    background-color: #CD96CD; 
    border-radius: 4px;
    border: none;
    outline: none;
    height: 30px;
    text-align: left;
    
}

.selecionarConta:hover {
   
    color: white;
    border: 3px solid #CD96CD;
    border-radius: 2px;
}

.col-sm-6{
    padding-top: 30px;
    padding-bottom: 40px;
}

.tipoDeConta{
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--light-gray);
    transition: .3s ease-in-out;
}

