@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
    background-color: #ecf0f1;
}
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: rgb(153, 0, 241);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: #fff;
}
.title-second {
    color: rgb(153, 0, 241);
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #fff;
}
.description-second {
    color: #7f8c8d;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 2px solid rgb(195, 135, 230);
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: rgb(174, 127, 212);
    color: rgb(153, 0, 241);
}
.btn-second {
    background-color:  rgb(153, 0, 241);
    border: 2px solid  rgb(153, 0, 241)
   
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid rgb(153, 0, 241);
    color: rgb(153, 0, 241);
}
.first-content {
    display: flex;
}
.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media .item-social-media {
    transition: background-color .5s;
}
.link-social-media:hover .item-social-media{
    background-color:  rgb(153, 0, 241);
    color: #fff;
    border-color: #58af9b;
    
}
/*.social-media:hover > .link-social-media p{
    opacity: 1;
    visibility:inherit;
    font-size: 14px;
}*/ 
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid  rgb(153, 0, 241);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.formAcessarConta{
	width: 55%;
	text-align: center;
	margin: 0 auto;
	display:flex;
    flex-direction: column;
  
}

.formAcessarConta input{
	 height: 45px;
    width: 100%;
    border:none;
    background-color:#ecf0f1;
}
.label-inputAC{
	 background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modifyAC{
	 color: #7f8c8d;
    padding: 0 5px;
}

.login_reset{
	color:#ecf0f1;
	font-size: 12px;
}

.signinConta{
	color:  rgb(153, 0, 241);
	background-color: #ecf0f1;
    border: 1px solid #ecf0f1;
    transition:  .5s;
}

.signinConta:hover {
	
  background-color: rgb(153, 0, 241);
    color: #ecf0f1;
    
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s; 

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
}