<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Banco HAB</title>
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">BANCO HAB!</h2>
                <p class="description description-primary">O melhor jeito é o seu</p>
                <p class="description description-primary">Acessar Conta</p>
               
                <form class="formAcessarConta" th:action="@{/login}" th:object="${cliente}" method="get">
                	 <label class="label-inputAC" for="">
                        <i class="far fa-envelope icon-modifyAC"></i>
                        <input type="CPF" placeholder="CPF" th:field="*{cpf}">
                    </label>
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha" th:field="*{password}">
                    </label>
                <a class="login_reset" href="#"><br>Esqueci a senha</a>
                    <div>
                <button  class="btn signinConta" >Entrar
                
                </button>
                <a class="navbar-brand" href="#" th:href="@{/index/index.html}">Modulo de Registro e Login</a>

                
                    </div>
                </form>
               
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Cadastrar conta</h2>
                <div class="social-media">
                    
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-facebook-f"></i>        
                            </li>
                        </a>
                        <a class="link-social-media" href="https://economia.uol.com.br/cotacoes/cambio/">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        <!-- <p class="botaoEconomia">  Economia </p> -->
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div><!-- social media -->
                <p class="description description-second">Iniciar Cadastro:</p>
                <form class="form"  th:action="@{/login}" th:object="${cliente}" method="post">
                    <label class="label-input" for="" >
                        <i class="far fa-user icon-modify"></i>
                        <input type="text" placeholder="Nome Completo"  th:field="*{nome}">


                    </label>
                    
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="CPF" placeholder="CPF" th:field="*{cpf}">
                    </label>

                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email" th:field="*{email}">
                    </label>
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" placeholder="Senha" th:field="*{password}">
                    </label>
                    
                    
                    <button  class="btn btn-second" >sign up</button>  
                          
                </form>
            </div><!-- second column -->
        </div><!-- first content -->
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">Olá, Sócio</h2>
                <p class="description description-primary">Informar dados:</p>
                <p class="description description-primary">Para iniciar seu atendimento</p>
                <button id="signup" class="btn btn-primary" type="submit">sign up</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">sign in to developer</h2>
                <div class="social-media">
                    <ul class="list-social-media">
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-facebook-f"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-google-plus-g"></i>
                            </li>
                        </a>
                        <a class="link-social-media" href="#">
                            <li class="item-social-media">
                                <i class="fab fa-linkedin-in"></i>
                            </li>
                        </a>
                    </ul>
                </div><!-- social media -->
                <p class="description description-second">Utilizar email para acesso: </p>
                <form class="form">
                
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email">
                    </label>
                
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="senha" placeholder="Senha">
                    </label>
                
                    <a class="senha" href="#">Esqueceu senha?</a>
                    <button class="btn btn-second">Cadastrar</button>
                </form>
            </div><!-- second column -->
        </div><!-- second-content -->
    </div>
    <script src="js/app.js"></script>
</body>
</html>