<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     
     <link th:href="@{/css/login.css}" rel="stylesheet" />
    <title>Acessar conta</title>
</head>
<body>
<main class="login">
        <div class="login_container">
            <h1 class="login_title">Login</h1>
            <form  class="login_form">
                 <input class="login_input" type="cpf" placeholder="CPF">
                <span class="login_input-border"></span>

                <!-- <input class="login_input" type="email" placeholder="E-mail">
                <span class="login_input-border"></span> -->
                
                <input class="login_input" type="password" placeholder="Senha">
                <span class="login_input-border"></span>

                <button class="login_submit">Login</button>
                <a class="login_reset" href="#"><br>Esqueci a senha</a>
            </form>
        </div>
    </main>
    	   <script src="js/app.js"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
   
</body>
</html>