body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.main_Apresentacao{
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    
}


.apresentacao {
    min-height: 400px;
    width: 300px;
    background: linear-gradient(120deg, #CD96CD, #7c4caf);;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.apresentacao_bank {
     margin-bottom: 32px;
    color: #303030;
}

.prosseguir{
    transition: 0.4s ease-in-out; 
    transition-duration: 0.4s;
    background-color: #CD96CD; 
    border-radius: 4px;
    border: none;
    outline: none;
    height: 30px;

}

.prosseguir:hover {
   
    color: white;
    border: 3px solid #CD96CD;
    border-radius: 2px;
}

