body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.login  {
    height: 100vh;
    background: linear-gradient(120deg, #CD96CD, #7c4caf);;
    display: flex;
    align-items: center;
     flex-direction: column;
    padding-top: 100px;
}


.login_container {
    min-height: 400px;
    width: 300px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title{
    margin-bottom: 32px;
    color: #303030;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
}

.login_input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: var(--light-gray);
    transition: .3s ease-in-out;
}

.login_submit{
    
    transition: 0.4s ease-in-out; 
    transition-duration: 0.4s;
    background-color: #CD96CD; 
    border-radius: 4px;
    border: none;
    outline: none;
    height: 40px;
    width: 80px;
}

.login_submit:hover{
    color: white;
    border: 3px solid #CD96CD;
    border-radius: 2px;
}
